<!DOCTYPE html>

<html>

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link href="/css/syntax-highlighting" rel="stylesheet">

<style type="text/css">
body {
   font-family: "Trebuchet MS", sans-serif;
}
</style>

<script type="text/x-mathjax-config">
   MathJax.Hub.Config({
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
         inlineMath: [ ["$","$"], ["\\(","\\)"] ],
         displayMath: [ ["$$","$$"], ["\\[","\\]"] ],
         processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] }
   });
</script>

<title>{{ page.title }}</title>

</head>

<body>

{{ content }}

<div style="display:none">
<script language="javascript" type="text/javascript" src="http://js.users.51.la/17547890.js"></script>

</div>

</body>

</html>
