<!DOCTYPE html>

<html>

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link href="/main/assets/css/syntax-highlighting.css" rel="stylesheet">

<style type="text/css">
body {
   font-family: "Trebuchet MS", sans-serif;
   line-height: 1.7em;
   font-size: 20px;
}
.content-container {
  display: flex;
  justify-content: center;
}
.content-container .content {
  max-width: 1024px;
  min-width: 1024px;
  margin-left: 16px;
  margig-right: 16px;
}
</style>

<title>{{ page.title }}</title>

</head>

<body>

<div class="content-container">
<div class="content">
{{ content }}
<div>
</div>


<div style="display:none" class="stats">
<script language="javascript" type="text/javascript" src="http://js.users.51.la/17547890.js"></script>
</div>

</body>

</html>
